
img {
    height: 180px;
    width: 790px;
}
button {
    background-color: blue;
    color: beige !important;
}
small  {
    color: whitesmoke !important;
}
a {
    color: white !important;
}